<!--<app-contents-list-item [content]="footballPlayers?[]: footballPlayers[0]"></app-contents-list-item>-->
<!--<app-contents-list-item [content]="footballPlayers?[]: footballPlayers[1]"></app-contents-list-item>-->
<!--<app-contents-list-item [content]="footballPlayers?[]: footballPlayers[2]"></app-contents-list-item>-->
<!--<app-contents-list-item [content]="footballPlayers?[]: footballPlayers[3]"></app-contents-list-item>-->

<app-contents-list-item *ngFor="let player of footballPlayers"

      [content]="player">

</app-contents-list-item>
